extends ../layout

block content
  section#partial
    .container
      .row
        .col-sm-8.col-sm-offset-2.text-center
          h3 Create An Event      
      hr
      .row
        .col-sm-8.col-sm-offset-2
          form.form-horizontal(data-toggle='validator', role='form', id='event-form', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group.has-feedback
              label.col-sm-3.control-label(for='eventname') Event Name
              .col-sm-7
                input.form-control(type='text', name='eventname', id='eventname', value='', autofocus, required='')
                span.glyphicon.form-control-feedback(aria-hidden='true')
            .form-group
              label.col-sm-3.control-label(for='eventname') Event Description
              .col-sm-7
                textarea.form-control(type='textarea', rows='5', name='eventdesc', id='eventdesc', value='', autofocus, data-minlength='25', data-error='Minimum of 25 letters' required='')
                .help-block.with-errors
            .form-group
              label.col-sm-3.control-label(for='eventname') Entry Dates
              .col-sm-7
                #datepicker.input-daterange.input-group
                  input.input-sm.form-control(type='text', name='eventopendate', required='')
                  span.input-group-addon to
                  input.input-sm.form-control(type='text', name='eventenddate', required='')
            .form-group
              label.col-sm-3.control-label(for='registrationtype') Registration Type
              .col-sm-7
                label.radio.col-sm-4
                  input(type='radio', name='registrationtype', value='open', data-toggle='radio', required='')
                  span Open
                label.radio.col-sm-4
                  input(type='radio', name='registrationtype', value='invite', data-toggle='radio', required='')
                  span Invite
            .form-group
              label.col-sm-3.control-label(for='jurytype') Jury Type
              .col-sm-7
                label.radio.col-sm-4
                  input(type='radio', name='jurytype', value='registrant', data-toggle='radio', required='')
                  span Registrant
                label.radio.col-sm-4
                  input(type='radio', name='jurytype', value='assigned', data-toggle='radio', required='')
                  span Assigned
            .form-group
              .col-sm-offset-3.col-sm-7
                button.btn.btn-success(type='submit')
                  i.fa.fa-balance-scale
                  | Create Event