<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Jury'd - You Be the Judge</title>
   <meta name="description" content="Juryd Judging Everything">
   <link rel="stylesheet" href="css/style.min.css">
</head>
<body>

 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
     <div class="container">
         <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand page-scroll" href="#page-top">Juryd</a>
         </div>

         <div class="collapse navbar-collapse" id="navbar-collapse">
             <ul class="nav navbar-nav navbar-right">
                 <li><a class="btn page-scroll" href="#">Sign In</a></li>
             </ul>
         </div>
     </div>
 </nav>

<header>
   <div class="container-fluid">
      <div class="header-content">
         <div class="header-content-inner">
            <div class="row">
               <div class="col-sm-8">
                  <h1>Juryd</h1>
                  <h2>You be the Judge</h2>
                  <hr>    
                  <h4>Juryd is an application that allows the participants to register and vote.</h4>
               </div>
               <div class="col-sm-4">
                  <img src="img/ribbon.svg" class="svg">
               </div>
            </div>
         </div>
		</div>
   </div>
</header>

<section id="about">
   <div class="container">
      <div class="row">
         <div class="col-lg-8">
            <img src="img/ipad.svg" class="svg">
         </div>
         <div class="col-sm-4 text-center">
            <h2 class="section-heading">How It Works</h2>
            <hr class="light">
            <p>Some Copy</p>
         </div>
      </div>
   </div>
</section>

<section id="details">
   <div class="container">
      <div class="row text-center">
         <div class="col-sm-4">
            <h3 class="section-heading">Juried Competition</h3>
            <p>Some Copy</p>
         </div>
         <div class="col-sm-4">
            <h3 class="section-heading">Registrant Jury</h3>
            <p>Some Copy</p>
         </div>
         <div class="col-sm-4">
            <h3 class="section-heading">Registered Judges</h3>
            <p>Some Copy</p>
         </div>
      </div>
   </div>
</section>

<section id="features">
   <div class="container">
      <div class="row text-center">
         <div class="col-sm-6">
            <h2 class="section-heading">Features</h2>
            <p>Some Copy</p>
            <img src="img/ribbon.svg" class="svg icon-small blue-ribbon">
            <img src="img/ribbon.svg" class="svg icon-small red-ribbon">
            <img src="img/ribbon.svg" class="svg icon-small yellow-ribbon">
         </div>
         <div class="col-sm-6">
            <img src="img/phone.svg" class="svg">
         </div>
      </div>
   </div>
</section>

<section id="account">
   <div class="container">
      <div class="row text-center">
         <div class="col-sm-6">
            <h2 class="section-heading">About</h2>
            <p>Some Copy</p>
         </div>
         <div class="col-sm-6">
            <h2 class="section-heading">About</h2>
            <p>Some Copy</p>
         </div>
      </div>
   </div>
</section>

<section id="call">
   <div class="container">
      <div class="row">
         <div class="col-sm-4 col-lg-offset-2 text-center">
            <h4 class="section-heading">Connect</h4>
            <hr class="light">
            <p>(Social Media Icons)</p>
         </div>
         <div class="col-sm-4 text-center">
            <h4 class="section-heading">Get the Latest</h4>
            <form class="form-inline">
               <div class="form-group">
                  <label class="sr-only" for="exampleInputAmount">Email Addresss</label>
                  <div class="input-group">
                     <input type="text" class="form-control" id="email-address" placeholder="Email Address">
                     <div class="input-group-addon">
                        <button type="submit" class="btn btn-primary">GO</button>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>


<footer class="bg-dark">
   <div class="container bg-dark">
      <div class="row">
         <div class="col-sm-3 col-sm-offset-2">
            <h5>About</h5>
            <p>Documentation</p>
            <p>History</p>
            <p>About Us</p>
         </div>
         <div class="col-sm-3">
            <h5>Support</h5>
            <p>System Status</p>
            <p>Support Ticket</p>
            <p>Account Preferences</p>
         </div>
         <div class="col-sm-3">
            <h5>About</h5>
            <p>Contact</p>
            <p>Privacy Policy</p>
            <p>Terms of Use</p>
         </div>
      </div>
   </div>
</footer>
   
<script src="js/lib.min.js"></script>
<script src="js/main.min.js"></script>
 <!--[if lt IE 9]>
   <script src="js/html5shiv.min.js"></script>
   <script src="js/respond.min.js"></script>
 <![endif]-->
</body>
</html>