footer.bg-dark
  .container.bg-dark
    .row
      .col-sm-3.col-sm-offset-2
        h5 About
        p Documentation
        p History
        p About Us
      .col-sm-3
        h5 Support
        p System Status
        p Support Ticket
        p Account Preferences
      .col-sm-3
        h5 About
        p Contact
        p Privacy Policy
        p Terms of Use