extends ../layout

block content
  section#partial
    .container
      .row
        .col-sm-8.col-sm-offset-2.text-center
          h2 Entry
      hr
      .row
        .col-sm-8.col-sm-offset-2
          ul.nav.nav-pills
            li(role='presentation', class=title=='event'?'active':undefined)
              a(href='/entry/new') new entry
            li(role='presentation', class=title=='event'?'active':undefined)
              a(href='/entry/list') list entries
            li(role='presentation', class=title=='event'?'active':undefined)
              a(href='/entry/search') search entries
      hr